################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
Brochure.Core/bin/
Brochure.Core/obj/
Brochure.Core.Test/bin/
Brochure.Core.Test/obj/
Brochure.Server.MySql/bin/
Brochure.Server.MySql/obj/
Brochure.Core.Server/bin/
Brochure.Core.Server/obj/
.vscode/
/.vs/Brochure
/Brochure.Core/.vs/Brochure.Core
/Brochure.Server.MySql/Brochure.Server.MySql.csproj.user
/.vs
*.patch
/Test.Server
/ServiceConsole
/Brochure.Core.Server/Brochure.Core.Server.csproj.user
/Brochure.Interface/bin/Debug/netcoreapp2.2
/Brochure.Interface/obj
/HostManager.Cunsul/obj
/Brochure.DI.AspectCore/obj
/Brochure.DI.AspectCore/bin/Debug/netcoreapp2.2
/HostManager.Cunsul/bin/Debug/netcoreapp2.2
/LinqDbQuery/obj
/LinqDbQuery/bin
/LinqDbQuery/.vs
/LinqDbQueryTest/bin
/LinqDbQueryTest/obj
obj/
Brochure.Core/.DS_Store
.DS_Store
Brochure.Utils/bin
Brochure.Utils/